<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> AppFlow POC - Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">AppFlow Versons</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="ion-text-center ion-padding">
        <h2>Native Version: <span>2.0.0</span></h2>
        <h2>Web Version: <span>2.0.1</span></h2>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        {{ sessionExists ? 'Session Active' : 'Session Expired'}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="ion-text-center">
        <app-countdown-timer
          (timerCompleted)="expireSession()"
          (timerStarted)="initializeSession()"
          [clearTimerText]="'Maintain Session Active / Expired'"
          [startTimerText]="'Start Session and Session Timeout'"
        ></app-countdown-timer>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
